@page
@model Zadanie2.Pages.AddressModel
@{
}

<p>Dane zapisane w sesji:</p>
@if (Model.Address != null)
{
    <p>
        @Html.DisplayNameFor(model => Model.Address.Street): @Model.Address.Street
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.Address.Number): @Model.Address.Number
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.Address.ZipCode): @Model.Address.ZipCode
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.Address.City): @Model.Address.City
    </p>
}

<hr />

<p>Historia adresów:</p>
@foreach (Forms.Address addr in Model.AddressList)
{
<p>
    @Html.DisplayNameFor(model => Model.Address.Street): @addr.Street <br />
    @Html.DisplayNameFor(model => Model.Address.Number): @addr.Number <br />
    @Html.DisplayNameFor(model => Model.Address.ZipCode): @addr.ZipCode <br />
    @Html.DisplayNameFor(model => Model.Address.City): @addr.City <br />
</p>
}
